*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue-clr: #1c94d3;
    --light-clr:#e2e9f1;
    --yellow-clr:#e3b030;
    --dark-clr:#101010;
    --white-clr:#fff;
    --clr1:#e0f2fe;
    --clr2:#fad132 ;
    --clr3:#a3a3a3;
    --clr4: #fda4af;
      
}
body{
    font-family: "Roboto", sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    background: none;
    border: none;
    outline: none;
}
input{
    /* border: none; */
    outline: none;
}
.heading{
    font-size: 16px;
    margin-bottom: 10px;
}
.btn-action{
    background-color: var(--blue-clr);
    padding: 10px 30px;
    border-radius: 30px;
    color: var(--white-clr);
    font-size: 16px;
}
.username{
    font-weight: 700;
}
.grid-container{
    display: grid;
    grid-template: auto 1fr / 200px minmax(0, 1fr);
    grid-template-areas: "sidebar header" "sidebar main";
    height: 100vh;
}
.header{
    background: var(--white-clr) ;
    grid-area: header;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.user-profile{
    display: grid;
    column-gap: 10px;
    align-items: center;

}
.header-upper{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) auto;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-lower{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) auto;
    align-items: center;

}
.user-profile{
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    align-self: end;

}
.search-container input{
    border: 1px solid var(--light-clr);
    border-radius: 6px;
    padding: 12px ;
    font-size: 18px;
    background-color: var(--light-clr);
    
}
.notification-icon{
    font-size: 23px;
}

.header-lower__msg{
    display: flex;
    gap: 20px;
}
.header-upper__action{
   display: flex;
   column-gap: 20px;
}
.sidebar{
    background: var(--blue-clr);
    grid-area: sidebar;
    grid-column: 1/2;
}
.sidebar__nav{
    padding: 20px;
}
.sidebar__nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-clr);
}
.sidebar__nav-logo-bar{
    background: var(--white-clr);
    color: var(--dark-clr);
    padding: 1px;
    border-radius: 3px;
}
.sidebar__nav-list{
    display: grid;
    gap: 20px;
    margin-top: 50px;
}
.sidebar__nav-list--item{
    color: var(--white-clr);

}

.main-content{
    background: var(--light-clr);
    grid-area: main;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "project side";
    padding: 30px;
    column-gap: 30px;
}

.side-section{
    grid-area: side;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.project__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 20px;
}

.project__card{
    background-color: var(--white-clr);
    border-left: 5px solid var(--yellow-clr);
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}
.project__card-tool{
    align-self: flex-end;
    display: flex;
    gap: 10px;
}
.project__card-tool span{
 font-size: 23px;
 cursor: pointer;
}
.announcement__list, .trending__list{
    background: var(--white-clr);
    border-radius: 8px;
    padding: 10px 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
.announcement__item{
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 15px 0;
}
.announcement__item:nth-child(2){
    border-bottom: 1px solid var(--light-clr);
    border-top: 1px solid var(--light-clr);
}
.trending__item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 12px;
    padding: 13px 0;
}

.icon-circled{
    /* background-color: #101010; */
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.circle-one{
    background: var(--clr1);
}
.circle-two{
    background: var(--clr2);
}
.circle-three{
    background: var(--clr3);
}
.circle-four{
    background: var(--clr4);
}

/* Stack layout on smaller screens */
@media (max-width: 900px) {
    .main-content {
      grid-template-columns: 1fr;
      grid-template-areas:
        "project"
        "side";
    }
  }